.Crossfade {
  position: relative;
  height: 100%;
}

.Crossfade > DIV {
  height: 100%;
}

.Crossfade > DIV.out {
  opacity: 1;
  transition: opacity 1s;
}

.Crossfade > DIV.out.end {
  opacity: 0;
}

.Crossfade > DIV.in {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.9s;
}

.Crossfade > DIV.in.end {
  opacity: 1;
}
